.container {
  padding: 0.5em;
  border: none;
  background-color: #3051ff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.container:hover,
.container:focus {
  background-color: #1c41ff;
}

.container:hover {
  cursor: pointer;
}
