:root {
  --base-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: var(--base-font-size);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

#root {
  width: 100%;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5rem;
}

.page-header,
.page-main {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.page-header {
  margin-block: 2em;
}

.list-title {
  margin-block: 1em;
}

.list-item {
  padding-block: 1em;
}

.list-item:hover,
.list-item:focus {
  background-color: #f4f4f45f;
}

.helper-text {
  font-size: 0.875em;
}

.status-icon {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-inline: 0.5em;
}

.status-icon--paid {
  background-color: #04d418;
}

.status-icon--on-time {
  background-color: #f8cd36;
}

.status-icon--overdue {
  background-color: #f85936;
}
