:root {
  --base-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: var(--base-font-size);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

#root {
  width: minmax(100%, 900px);
  margin: auto;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5rem;
}
